.container {
  width: 350px;
  padding: 1rem 1rem;
}
.stats-card {
  //padding: 1rem;
  margin-bottom: 1rem;
}
.stats-number {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: .3rem;
  text-align: center;
}
.stats-label {
  text-align: center;
}
