<h2 mat-dialog-title>Group ABC created successfully</h2>
<mat-dialog-content>
  <div style="text-align: center">
    <p>Join Code</p>
    <h1 style="font-weight: bold; font-size: 2.5rem">HABS4AC</h1>
    <div style="font-size: .9rem; color: cornflowerblue; cursor:pointer"
         [cdkCopyToClipboard]="'HABS4AC'">Copy to clipboard
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
