<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Scrum - Free Bootstrap 4 Multipurpose Landing Page Template</title>
  <meta name="description" content="Scrum is a beautiful Bootstrap 4 template for multipurpose landing pages."/>

  <!--Google font IBM Plex Sans-->
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700" rel="stylesheet">

  <!--vendors styles-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap CSS / Color Scheme -->
  <link rel="stylesheet" href="https://dev.kroplet.com/themes/5ac2a8f38f160e06626f4f8e-bootstrap.css"
        id="theme-color">
</head>
<body>


<!--navigation-->
<section class="smart-scroll">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand heading-black" href="../../../../index.html">
        CROWDFUND
      </a>
      <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
              data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span data-feather="menu"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#features">About us</a>
          </li>
          <!--          <li class="nav-item">-->
          <!--            <a class="nav-link page-scroll" href="#reviews">Reviews</a>-->
          <!--          </li>-->
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#showcase">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll cursor-pointer">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="login">Login</a>
          </li>
        </ul>
        <form class="form-inline">
          <a class="btn btn-primary page-scroll" href="#signup">Sign up now</a>
        </form>
      </div>
    </nav>
  </div>
</section>
<div *ngIf="isBrand">
  <!--hero header-->
  <section class="" id="home">
    <div class="container-fluid">

      <div class="grid vh-md-100">
        <div class="my-auto px-4 col " style="width: 50%">
          <h6 style="font-weight: lighter" class="text-capitalize ">REAL CONTENT BY REAL PEOPLE IN REAL
            SETTINGS</h6>
          <h2 style="font-size: 2.5rem; line-height: 3.5rem" class="text-capitalize ">Your brand’s custom
            content studio</h2>
          <p class="text-muted mb-4 ">MakeTrend. A custom content creation platform stocked with the
            best
            videographers, and creators.</p>
          <div class="flex">
            <a href="#features" class="btn btn-primary d-inline-flex flex-row align-items-center page-scroll">
              Get Started
              <em data-feather="arrow-right" width="20" height="20" class="ml-2"></em>
            </a>
          </div>
        </div>
        <div class="my-auto px-4 center-cropped col" style="width: 50%">
          <img class="" src="../../../../assets/images/landing-page/poster.png"
               style="border-radius: 1.5rem; width: 100%"
          >
        </div>
      </div>
    </div>
  </section>
  <section>
    <h4 class="pt-4" style="text-align: center">Public fund activity</h4>
    <div class="fund-raising-list-container">
      <div class="fund-raising-list">
        <mat-grid-list gutterSize="10px" cols="3" rowHeight="">
          <mat-grid-tile>
            <app-fund-raising-card></app-fund-raising-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-fund-raising-card></app-fund-raising-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-fund-raising-card></app-fund-raising-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-fund-raising-card></app-fund-raising-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-fund-raising-card></app-fund-raising-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <app-fund-raising-card></app-fund-raising-card>
          </mat-grid-tile>

        </mat-grid-list>
      </div>
    </div>
  </section>

  <section class="bg-light">
    <svg class="align-bottom" enable-background="new 0 0 1440 68" viewBox="0 0 1440 68"
         xmlns="http://www.w3.org/2000/svg">
      <path d="m1622.3 1937.7c0 0-410.7 169.1-913.4 75.5-502.7-93.6-977.7 56.3-977.7 56.3v440h1891.1v-571.8"
            fill="#FFF" transform="translate(0-1977)"></path>
    </svg>
  </section>

  <!-- features section -->
  <section class="py-7 bg-white" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center">
          <h2 class="text-capitalize">Why you should trust us.</h2>
          <!--        <p class="text-muted lead">Lorem ipsum dolor sit amet, Vestibulum in nisi commodo consectetur adipiscing-->
          <!--          elit. Vestibulum in nisi commodo, tempus odio a, vestibulum nibh.</p>-->
        </div>
      </div>
      <div class="row mt-5 feature-boxes">
        <div class="col-md-4 box">
          <div class="icon-box">
            <div class="icon-box-inner small text-primary">
              <span data-feather="users" width="30" height="30"></span>
            </div>
          </div>
          <h5>Create a free project</h5>
          <p class="text-muted">From unboxing & testimonial videos to product & model videography - get the content you
            need.
          </p>
        </div>
        <div class="col-md-4 box">
          <div class="icon-box">
            <div class="icon-box-inner small text-primary">
              <span data-feather="refresh-ccw" width="30" height="30"></span>
            </div>
          </div>
          <h5>Review applications from diverse creators</h5>
          <p class="text-muted">Every age, gender, and field, MakeTrend has a content creator ideal for your brand</p>
        </div>
        <div class="col-md-4 box">
          <div class="icon-box">
            <div class="icon-box-inner small text-primary">
              <span data-feather="layout" width="30" height="30"></span>
            </div>
          </div>
          <h5>Shoot product content in any setting</h5>
          <p class="text-muted">Need content shot in multiple kitchens? At multiple pools? In the
            snow/desert/mountains/beach? You ask, we deliver. No need for a content studio.</p>
        </div>
        <div class="col-md-4 box">
          <div class="icon-box">
            <div class="icon-box-inner small text-primary">
              <span data-feather="bell" width="30" height="30"></span>
            </div>
          </div>
          <h5>No stolen or lost products. Guaranteed.</h5>
          <p class="text-muted">MakeTrend’s vetted network offers guaranteed security - don’t fear losing products.
          </p>
        </div>
        <div class="col-md-4 box">
          <div class="icon-box">
            <div class="icon-box-inner small text-primary">
              <span data-feather="message-circle" width="30" height="30"></span>
            </div>
          </div>
          <h5>No creator negotiations</h5>
          <p class="text-muted">Trend creators work on a set budget for all of your projects, so you don’t have to spend
            hours negotiating and can activate multiple creators at once - without friction.
          </p>
        </div>
        <div class="col-md-4 box">
          <div class="icon-box">
            <div class="icon-box-inner small text-primary">
              <span data-feather="search" width="30" height="30"></span>
            </div>
          </div>
          <h5>Full licensing & distribution rights to your content</h5>
          <p class="text-muted">Your content belongs to you. 100% licensing & distribution rights to use on social,
            websites, ads, & more.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white">
    <svg class="align-bottom" enable-background="new 0 0 1440 68" viewBox="0 0 1440 68"
         xmlns="http://www.w3.org/2000/svg">
      <path d="m1622.3 1937.7c0 0-410.7 169.1-913.4 75.5-502.7-93.6-977.7 56.3-977.7 56.3v440h1891.1v-571.8"
            fill="#f8f9fa" transform="translate(0-1977)"></path>
    </svg>
  </section>


  <hr class="mt-7"/>
  <section class="py-7" id="showcase">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center">
          <h2 class="text-capitalize">Pricing</h2>
        </div>
      </div>
      <!--pricing tables-->
      <div class="row mt-5 pricing-table">
        <div class="col-sm-12">
          <div class="card-group pricing-table">
            <div class="card text-center">
              <div class="card-body">
                <div class="icon-box">
                  <div class="icon-box-inner small-xs text-primary">
                    <span data-feather="users" width="30" height="30"></span>
                  </div>
                </div>
                <h4 class="card-title pt-3">Campaigns Are Free</h4>
                <h5 class="card-title pt-3">With Maketrend there are no start up fees. You only pay for the content
                  creators you choose to work with.</h5>
                <a href="#signup" class="btn btn-primary">
                  Sign up and Create a Free Campaign now
                </a>
                <ul class="list-unstyled pricing-list">
                  <li><i class="pi pi-check"></i>
                    Licensing rights for all content created
                  </li>
                  <li><i class="pi pi-check"></i>Unlimited campaigns</li>
                  <li><i class="pi pi-check"></i>Unlimited products</li>
                  <li><i class="pi pi-check"></i>In-platform messaging system</li>
                  <li><i class="pi pi-check"></i>Content management portal</li>
                </ul>
                <div class="card-title text-primary price pb-4">PAY PER CREATOR AND CONTENT</div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light">
    <svg class="align-bottom" enable-background="new 0 0 1440 68" viewBox="0 0 1440 68"
         xmlns="http://www.w3.org/2000/svg">
      <path d="m1622.3 1937.7c0 0-410.7 169.1-913.4 75.5-502.7-93.6-977.7 56.3-977.7 56.3v440h1891.1v-571.8"
            fill="#FFF" transform="translate(0-1977)"></path>
    </svg>
  </section>

  <!--FAQ / CTA section-->
  <section class="py-7 bg-white" id="faq">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center">
          <h2 class="text-capitalize">Frequestly Asked Questions</h2>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-10 mx-auto">
          <div class="row">
            <!--            <div class="col-md-6 mb-5" *ngFor="let faq of brandFAQs">-->
            <!--              <h6>{{faq.question}}</h6>-->
            <!--              <p class="text-muted" style="white-space: pre-line">{{faq.answer}}</p>-->
            <!--            </div>-->
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-10 mx-auto">
          <div class="alert alert-primary d-md-flex flex-row align-items-center text-center text-md-left p-5">
            <div class="mb-4 mb-md-0">
              <h4>Post a campaign today, hire a creator today. It's that fast.</h4>
              <span>Sign up now and create your first campaign.</span>
            </div>
            <a href="#signup"
               class="btn btn-primary ml-md-auto d-inline-flex flex-row align-items-center page-scroll">
              Get Started
              <em data-feather="arrow-right" width="20" height="20" class="ml-2"></em>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--signup section-->
  <section class="bg-hero py-7" id="signup" style="background-image: url(../../../../assets/images/landing-page/mockup.svg)">
    <div class="container">
      <div class="row">
        <div class="col-md-6 my-md-auto text-center text-md-left pb-5 pb-md-0">
          <h2 class="text-white">Get started with Maketrend by Signup</h2>
          <p class="lead text-light">After you sign up, you can have right to creator your products, create your
            campaign and more.</p>
        </div>
        <div class="col-md-5 ml-auto">
          <div class="card">
            <div class="card-body p-4">
              <h5 class="text-center">Sign up</h5>
              <div class="text-center mb-2">Continue with Google</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!--footer-->
<footer class="py-6 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 mr-auto">
        <h6>About MakeTrend</h6>
        <p>Maketrend is a platform that helps brand who want to marketing their products
          thanks to the influence of social media influencers through short videos,
          can easily find suitable creators and manage their campaigns </p>
        <ul class="list-inline social social-rounded social-sm">
          <li class="list-inline-item">
            <a href=""><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href=""><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href=""><i class="fa fa-google-plus"></i></a>
          </li>
          <li class="list-inline-item">
            <a href=""><i class="fa fa-dribbble"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h6>Help</h6>
        <ul class="list-unstyled">
          <li><a href="#">Support</a></li>
          <li><a class="cursor-pointer">Log in</a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 mx-auto text-muted text-center small-xl">
        &copy; 2022 MakeTrend - All Rights Reserved.
      </div>
    </div>
  </div>
</footer>

<!--scroll to top-->
<div class="scroll-top">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>

<!-- theme switcher (FOR DEMO ONLY - REMOVE FROM PRODUCTION)-->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.0/feather.min.js"></script>
<script src="js/scripts.js"></script>


</body>
</html>
