:root {
  --background: #DDEDDD;

  --dark: #272727;
  --gray: #6b6a6a;
  --input-boreder-color: rgba(203, 210, 217, 1);
  --lightGray: #F3F3F5;
  --gray-2: #E4E6EB;
  --black: black;
  --white: white;
  --primaryColor: #0A78BE;
  --primaryColorDarker: #096CAB;
  --lightBlue: #E1EDF7;
  //--primaryColor: #ffc917;
  --blue: #6554C0;
  --lightGreen: #D3EDDB;
  --green: #69BAA5;
  --red: #FF3B3B;
  --blue-2: #4A6785;
  --border-radius: 5px;


  --navbar-height: 60px;
}
