.input-field {
  width: 100%;
}

.avatar {
  border-radius: 9999999px;
}
.avatar.small {
  height: 35px;
}
.avatar.border {
  border: 2px solid var(--primaryColor);
}

// card
mat-card-actions {
  display: flex !important;
  justify-content: center;
}

// page have table
.page-container {
  .page-action {
    display: flex;
    justify-content: right;
    padding-top: 1rem;
    padding-right: 1rem;
  }
  .page-content {
    padding: 0 1rem;
  }
}

// table

.table-container {
  padding: 1rem;
  table {
    width: 100%;
  }
}

// app drawl
.mat-drawer-container {
  background-color: transparent;
}
