<div class="container">
  <mat-progress-bar
    class="example-margin"
    [mode]="'determinate'"
    [value]="76">
  </mat-progress-bar>
  <div class="pt-2">
    <span><b>$154,243 raised</b></span>
    <span> of $200,000</span>
  </div>
</div>
