<h2 mat-dialog-title>Create Group</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Group Name</mat-label>
      <input matInput placeholder="Group Name">
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description">
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Co-Owner</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Username"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Create</button>
</mat-dialog-actions>
