<div class="page-container">
  <div class="page-action">
    <button class="ml-4" mat-button mat-flat-button color="primary" (click)="openCreateDialog()">CREATE NEW ACTIVITY</button>
  </div>
  <div class="page-content">
    <mat-tab-group>
      <mat-tab label="My Activity">
        <div class="table-container">
          <table mat-table [dataSource]="activities" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="Activity Code">
              <th mat-header-cell *matHeaderCellDef> Activity Code </th>
              <td mat-cell *matCellDef="let element"> {{element.code}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Activity Name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Target amount">
              <th mat-header-cell *matHeaderCellDef> Target amount </th>
              <td mat-cell *matCellDef="let element"> {{element.targetAmount}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Group">
              <th mat-header-cell *matHeaderCellDef> Group </th>
              <td mat-cell *matCellDef="let element"> {{element.group.groupName}} </td>
            </ng-container>

            <ng-container matColumnDef="Beneficiary">
              <th mat-header-cell *matHeaderCellDef> Beneficiary </th>
              <td mat-cell *matCellDef="let element"> {{element.beneficiary}} </td>
            </ng-container>

            <ng-container matColumnDef="Targeted Event Date">
              <th mat-header-cell *matHeaderCellDef> Targeted Event Date </th>
              <td mat-cell *matCellDef="let element"> {{element.targetedEventDate | date : 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="Withdrawal Date">
              <th mat-header-cell *matHeaderCellDef> Withdrawal Date </th>
              <td mat-cell *matCellDef="let element"> {{element.withdrawalDate | date : 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="Active">
              <th mat-header-cell *matHeaderCellDef> Active </th>
              <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
