.activity-container {
  display: flex;
  justify-content: center;
  padding: 100px 2rem 2rem 2rem;
}

.info-section {
  max-width: 800px;
  width: 800px;
  min-width: 500px;
  .activity-name {
    font-weight: 550;
    font-size: 2rem;
  }
  .activity-created-date {
    font-size: .9rem;
    font-weight: lighter;
  }
}
.donate-section {
  min-width: 300px;
  width: 300px;
}

.donate-button {
  width: 100%;
}

.donor-spacer {
  height: .75rem;
}

.see-more-action {
  display: flex;
  justify-content: center;
}
