<h2 mat-dialog-title>Join Group</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Join Code</mat-label>
      <input matInput placeholder="Join Code">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Join</button>
</mat-dialog-actions>
