.fund-raising-list-container {
  display: flex;
  justify-content: center;

}

.fund-raising-list {
  min-width: 500px;
  width: 1000px;
}
mat-grid-tile {
  //background: lightblue;
  //padding: 1rem;
}
