<div class="user-name-container">
  <div><img class="avatar small border" src="../../../../assets/images/default-avatar.jpg"></div>
  <div class="pl-2">
    <div>Username</div>
    <div><b>$100</b></div>
  </div>
</div>
