.nav-bar-container {
  z-index: 1000;
  width: 100vw;
  height: var(--navbar-height);
  background: var(--background);
  position: fixed;
  //display: flex;
  .content {
    height: 100%;
    width: 100%;
    //display: flex;
    position: relative;
    align-items: center;
    .logo {
      padding-inline: 2rem;
      //position: absolute;
      //top: 50%;
      //left: 50%;
      //transform: translate(-0%, -50%);
    }

    .menu-list {
      //position: absolute;
      //top: 50%;
      //right: 0;
      //transform: translate(-0%, -50%);
      //display: flex;
      //align-items: center;
      .item {
        font-weight: 500;
        padding-inline: 1.5rem;
        cursor: pointer;
      }
    }
  }
}

.user-name-container {
  display: flex;
  align-items: center;
}

.nav-bar-spacer {
  width: 100vw;
  height: 60px;
}


.drawer-container {
  //width: 500px;
  //height: 300px;
  //border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content-container {
  height: 100%;
  width: 100%;
  min-height: calc(100vh - var(--navbar-height));
  //align-items: center;
  //justify-content: center;
}

.sidenav-container {
  //padding: 20px;
}



// sidenav style
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

table {
  width: 100%;
}

.mat-expansion-panel-header {
  padding: 0 16px;
}
