<h2 mat-dialog-title>You have joined group ABC</h2>
<mat-dialog-content>
 <p>Groups can only be private and contributions made inside groups are private.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
