<div class="page-container">
  <div class="page-action">
    <button mat-button mat-flat-button color="primary" (click)="openJoinGroupDialog()">JOIN WITH CODE</button>
    <button class="ml-4" mat-button mat-flat-button color="primary" (click)="openCreateDialog()">CREATE NEW</button>
  </div>
  <div class="page-content">
    <mat-tab-group>
      <mat-tab label="Joined Group">
        <div class="table-container">
          <table mat-table [dataSource]="groups" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="Join Code">
              <th mat-header-cell *matHeaderCellDef> Join Code </th>
              <td mat-cell *matCellDef="let element"> {{element.joinCode}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Owner">
              <th mat-header-cell *matHeaderCellDef> Owner </th>
              <td mat-cell *matCellDef="let element"> {{element.groupOwner}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Co-owner">
              <th mat-header-cell *matHeaderCellDef> Co-owner </th>
              <td mat-cell *matCellDef="let element"> {{element.groupCoOwner}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Owned Group">
        <div class="table-container">
          <table mat-table [dataSource]="groups" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="Join Code">
              <th mat-header-cell *matHeaderCellDef> Join Code </th>
              <td mat-cell *matCellDef="let element"> {{element.joinCode}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Owner">
              <th mat-header-cell *matHeaderCellDef> Owner </th>
              <td mat-cell *matCellDef="let element"> {{element.groupOwner}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Co-owner">
              <th mat-header-cell *matHeaderCellDef> Co-owner </th>
              <td mat-cell *matCellDef="let element"> {{element.groupCoOwner}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
