.page-container {
  background: var(--background);
  height: 100vh;
  width: 100vw;
}

.card.login-card {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.register-link {
  color: var(--primaryColor);
  cursor: pointer;
}
mat-card-actions {
  margin-bottom: 0;
  margin-top: 0;
}
//mat-card-actions {
//  display: flex;
//  justify-content: center;
//}
