<div class="page-container">
  <mat-card class="card login-card">
    <mat-card-title style="text-align: center">Register</mat-card-title>
    <mat-card-content class="pt-5">
      <form>
        <mat-form-field class="input-field">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password">
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Repeat password</mat-label>
          <input matInput type="password" placeholder="Repeat password">
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email">
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Phone number</mat-label>
          <input matInput placeholder="Phone number">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-flat-button color="primary">REGISTER</button>
    </mat-card-actions>
    <div style="text-align: center">Already registered? <a class="register-link" href="/login">Login</a></div>
  </mat-card>
</div>
